In [1]:
import pandas as pd

df = pd.read_csv('female_clean_tshirt.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  1986 non-null   float64
 1   weight  1986 non-null   float64
 2   size    1986 non-null   object
dtypes: float64(2), object(1)
memory usage: 46.7+ KB

In [3]:
df.describe()

            height       weight
count  1986.000000  1986.000000
mean    162.847331    67.758207
std       6.419951    10.984646
min     140.900000    35.800000
25%     158.625000    60.100000
50%     162.600000    66.800000
75%     167.200000    74.575000
max     182.900000   119.600000